lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sln
*.csproj
*.suo
*.csproj.user
*.nodevsdbg
Web*.config

# Ignored for security reasons file includes passwords.
config.json

bin
obj
pids
logs
results
node_modules/*


Web.config
Web.Debug.config
Web.Release.config
npm-debug.log
